@import "tailwindcss";

body {
  font-family: var(--font-montserrat), sans-serif;
  /* cursor: none; */
}

h1 {
  @apply text-[110px] font-bold leading-[0.95];
  font-family: var(--font-unica), sans-serif;
}

h2 {
  @apply text-[80px] font-bold leading-none;
  font-family: var(--font-unica), sans-serif;
}

h3 {
  font-size: 1.75rem;
  font-weight: normal;
  font-family: var(--font-unica), sans-serif;
}

h4 {
  font-size: 1.5rem;
  font-weight: normal;
  font-family: var(--font-unica), sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 60s linear infinite;
}

/* center dot */
.cursor-dot {
  width: 10px;
  height: 10px;
  background: #98131a;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
}

/* ring */
.cursor-ring {
  width: 35px;
  height: 35px;
  border: 2px solid #98131a;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9998;
  transition: transform 0.5s ease-out;
}
