@import "tailwindcss";

body {
  font-family: var(--font-montserrat), sans-serif;
}

h1 {
  @apply text-[110px] font-bold leading-[0.95];
  font-family: var(--font-unica), sans-serif;
}

h2 {
  @apply text-[80px] font-bold leading-none;
  font-family: var(--font-unica), sans-serif;
}

h3 {
  font-size: 1.5rem;
  font-weight: normal;
  font-family: var(--font-unica), sans-serif;
}

h4 {
  font-size: 1.25rem;
  font-weight: normal;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 60s linear infinite;
}
